<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./css/style.css" />
 <link rel="icon" href="./img/pic.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
  <div class="main-content">
 {{>header}}
    <h3 class="aboutp">Weather Bug was created to help you find out the weather forecast of any location</h3>
  </div>
      {{>footer}}
  </body>
</html>