<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./img/pic.png">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Bug</title>
  </head>
  <body>
<div class="main-content">
  {{>header}}

<form>
<input placeholder="Location">
<button>Search</button>
</form>
<h2 id="message-1"></h2>
<h2 id="message-2"></h2>
 
</div>

 
    
      {{>footer}}
      <script src="./js/script.js"></script>
  </body>
</html>